.info-banner {
  background: url("../Images/information-banner.png") no-repeat center
    center/cover;
  padding: 50px 10%;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.info-banner h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.info-banner p {
  margin-bottom: 40px;
}

.benefits-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
}

.benefit {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin-left: 80px;

}

.benefit img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.benefit h3 {
  margin-bottom: 1rem;
  font-weight: 500;
}

.benefit p {
  color: #909090;
}

.read-more-btn {
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
