.home-parallax-image {
    width: 100%;
    height: 900px;
    background-image: url("https://res.cloudinary.com/dav7tzdzv/image/upload/v1739806305/E-commerce_Sample_qmii38.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(160, 160, 160, 0.705); 
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }
  

  

  