.qa-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 80px auto;
  font-family: Arial, sans-serif;

  .content-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .image-section {
    flex: 1;
    max-width: 50%;
  }
  

  .main-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  .main-image:hover {
    transform: scale(1.01);
  }


  .content-section {
    flex: 1;
    max-width: 50%;
    padding: 20px;
  }

  .faq-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .faq-subtitle {
    color: var(--color-dark-grey);
    margin-bottom: 20px;
  }

  .faq-item {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    transition: transform 0.5s ease;
  }

  .faq-item:hover {
    transform: scale(1.05);
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
  }

  .faq-answer {
    padding: 10px 0;
    color: var(--color-dark-grey);
  }

  .dropdown-icon {
    font-size: 12px;
  }

  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }

  .logo-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0px;
    margin-top: 10px;
    width: 100%;
  }

  .logo-item {
    color: #999;
    font-size: 14px;
    margin: 10px;
  }
}

.parallax-image {
  width: 100%;
  height: 700px;
  background-image: url("https://res.cloudinary.com/dav7tzdzv/image/upload/v1739805025/business-company-concept_hslu7s.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.7;
}


@media (max-width: 768px) {
  .contact-wrapper {
    display: none;
  }

  .content-wrapper {
    flex-direction: column; 
  }

  .image-section,
  .content-section {
    max-width: 100%;
  }
}
