.our-services {
    text-align: center;
    padding: 50px 0;
    height: 900px;
  }
  
  .our-services h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .our-services p {
    margin-bottom: 40px;
  }
  
  .service-cards {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
  }
  
  .service-card {
    text-align: center;
    width: calc(33.33% - 20px); /* Adjust for spacing */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .icon-container {
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-container svg {
    width: 30px;
    height: 30px;
    fill: #666;
  }
  
  .service-card h3 {
    margin-bottom: 10px;
  }
  
  .service-card p {
    font-size: 0.9rem;
    color: #888;
  }

  .service-card h3 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .service-card h3::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: black; 
    transition: width 0.9s ease;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  
  .service-card:hover h3 {
    letter-spacing: 2px;
  }
  
  .service-card:hover h3::after {
    width: 100%;
  }
  
  
  @media (max-width: 768px) {

    .our-services{
      height: auto;
    }
    .service-cards {
      flex-direction: column;
      align-items: center;
    }
  
    .service-card {
      width: 100%;
      margin-bottom: 30px;
    }
  }