.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F48FB1;
  color: white;
  height: 45px;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  height: auto;
  transition: padding 0.3s ease, box-shadow 0.3s ease;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
}

.logo img {
  width: 150px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-links li {
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
}

.nav-links li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #C2185B ;
  transition: width 0.5s ease;
}

.nav-links li:hover::after {
  width: 70%;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-links.mobile-menu-open {
    display: flex;
  }
}
