.subscribe-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease; 
  }
  
  .subscribe-button:hover {
    background-color: #333; }