.carousel-container {
  position: relative;
  height: 800px;
  background-size: cover;
  background-position: bottom;
  opacity: 0.9;
  overflow: hidden; 

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
    opacity: 0.8;
  }

  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 0; 
  }
  
  .static-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;

    h2 {
      font-size: 1rem;
      text-transform: uppercase;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  .swiper-carousel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .swiper-slide {
    margin-top: 15%;
    margin-left: 8%;
  }

  .carousel-text {
    text-align: center;
    color: white;
    padding: 0 20px;
    margin-top: 230px;
  }

  .swiper-pagination-bullet {
    background-color: #ccc;
    transition: background-color 0.3s;
  }

  .swiper-pagination-bullet-active {
    background-color: #ff5722;
  }

  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden;
  }

  @media (max-width: 1380px) {
    .carousel-text {
      margin-top: 430px;
    }
  }
}
