.swiper-pagination-bullet {
    background-color: #ccc; 
    transition: background-color 0.3s;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #ff5722; 
  }
  
.swiper-button-next,
.swiper-button-prev {
  color: #ff0000; 
  background-color: transparent; 
  padding: 10px; 
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; 
  color: #e4c110;
}
