.carousel-container {
  position: relative;
  height: 800px;
  background-size: cover;
  background-position: center center;

  .static-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
  }

  .static-text h2 {
    font-size: 1rem;
    text-transform: uppercase;
  }

  .static-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .swiper-carousel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .swiper-slide {
    margin-top: 15%;
    margin-left: 8%;
  }

  .carousel-text {
    text-align: center;
    color: white;
    padding: 0 20px;
    margin-top: 15%;
  }

  .carousel-text p {
    font-size: 1rem;
    max-width: 70%;
    margin-bottom: 1rem;
  }

  .swiper-pagination-bullet {
    background-color: #ccc;
    transition: background-color 0.3s;
  }

  .swiper-pagination-bullet-active {
    background-color: #ff5722;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #ff0000;
    background-color: transparent;
    padding: 10px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px;
    color: #ff0000;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: rgba(255, 0, 0, 0.1);
  }
}
