.special-category-container{
    margin: 0 auto; 
    padding: 2% 10%;
}

.exclusive-category {
    text-align: center;
    padding: 20px; 
  }
  
  .exclusive-category h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .exclusive-category p {
    color: #888; 
  }