.footer { 
  background: url("../Images/footer-background.png") no-repeat center center/cover;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  background-color: black;
  color: lightgrey;
  padding: 80px;
  gap: 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden; 
}

.title {
  color: white;
  font-size: 1.2em;
}

.text-light {
  color: lightgrey;
  white-space: normal; 
}

.logo {
  width: 100px;
  height: auto;
}

.social-media-icons i {
  font-size: 20px;
  margin-right: 10px;
  color: lightgrey;
  transition: color 0.3s ease-in-out;
}

.social-media-icons i:hover {
  color: white;
}

.footer-column ul li,
.footer-column ul li a {
  color: lightgray; 
  transition: color 0.3s ease-in-out; 
}

.footer-column ul li:hover,
.footer-column ul li a:hover {
  color: white; 
}

/* Responsive Design */
@media (max-width: 1024px) {
  .footer {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 60px;
  }
}

@media (max-width: 768px) {
  .footer {
      grid-template-columns: 1fr;
      text-align: center;
      padding: 40px;
  }

  .footer-column {
      align-items: center;
  }

  .footer-column ul {
      padding: 0;
      list-style: none;
  }
}
